.form{
    text-align: center;
}
input{
    background-color: #222831;
    width: 25%;
    height: 50px;
    border-width: 1px;
    border-color: gray;
    border-radius: 15%;
    font-size: 20px;
    position: absolute;
    left:40%;
    
}

#messege{
    top: 180px;
}

#btnAdd{
    background-color: green;
    width: 100px;
    height:25px;
    position: absolute;
    right: 29%;
    top:180px;
}